@require './config'
@require './code'
@require './custom-blocks'
@require './arrow'
@require './wrapper'
@require './toc'

#app
  min-height 100vh

html, body
  background-color #fff
  margin 0
  padding 0

@font-face
  font-family 'Quicksand'
  src url('http://www.wuazhu.cn/images/20200108_QWAdCq.ttf')

@font-face
  font-family 'SourceHanSanSC'
  src url('http://www.wuazhu.cn/images/20200108_J6i0s0.woff2')

body
  color $textColor
  font-family -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  font-size 16px
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased

.page
  padding-left $sidebarWidth

.navbar
  background-color #fff
  border-bottom 1px solid $borderColor
  box-sizing border-box
  height $navbarHeight
  left 0
  position fixed
  right 0
  top 0
  z-index 20

.sidebar-mask
  display none
  height 100vh
  left 0
  position fixed
  top 0
  width 100vw
  z-index 9

.sidebar
  background-color #fff
  border-right 1px solid $borderColor
  bottom 0
  box-sizing border-box
  font-size 16px
  left 0
  margin 0
  overflow-y auto
  position fixed
  top $navbarHeight
  width $sidebarWidth
  z-index 10

{$contentClass}:not(.custom)
  @extend $wrapper

  > *:first-child
    margin-top $navbarHeight

  a:hover
    text-decoration underline

  p.demo
    border 1px solid #ddd
    border-radius 4px
    padding 1rem 1.5rem

  img
    max-width 100%

{$contentClass}.custom
  margin 0
  padding 0

  img
    max-width 100%

a
  color $accentColor
  font-weight 500
  text-decoration none

p a code
  color $accentColor
  font-weight 400

kbd
  background #eee
  border solid .15rem #ddd
  border-bottom solid .25rem #ddd
  border-radius .15rem
  padding 0 .15em

blockquote
  border-left .2rem solid #dfe2e5
  color #999
  font-size 1rem
  margin 1rem 0
  padding .25rem 0 .25rem 1rem

  & > p
    margin 0

ul, ol
  padding-left 1.2em

strong
  font-weight 600

h1, h2, h3, h4, h5, h6
  font-weight 600
  line-height 1.25

  {$contentClass}:not(.custom) > &
    margin-bottom 0
    margin-top .5rem - $navbarHeight
    padding-top ($navbarHeight + 1rem)

    &:first-child
      margin-bottom 1rem
      margin-top -1.5rem

      + p, + pre, + .custom-block
        margin-top 2rem

  &:hover .header-anchor
    opacity 1

h1
  font-size 2.2rem

h2
  border-bottom 1px solid $borderColor
  font-size 1.65rem
  padding-bottom .3rem

h3
  font-size 1.35rem

a.header-anchor
  float left
  font-size .85em
  margin-left -.87em
  margin-top .125em
  opacity 0
  padding-right .23em

  &:hover
    text-decoration none

code, kbd, .line-number
  font-family source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

p, ul, ol
  line-height 1.7

hr
  border 0
  border-top 1px solid $borderColor

table
  border-collapse collapse
  display block
  margin 1rem 0
  overflow-x auto

tr
  border-top 1px solid #dfe2e5

  &:nth-child(2n)
    background-color #f6f8fa

th, td
  border 1px solid #dfe2e5
  padding .6em 1em

.theme-container
  &.sidebar-open
    .sidebar-mask
      display block

  &.no-navbar
    {$contentClass}:not(.custom) > h1, h2, h3, h4, h5, h6
      margin-top 1.5rem
      padding-top 0

    .sidebar
      top 0

@media (min-width: ($MQMobile + 1px))
  .theme-container.no-sidebar
    .sidebar
      display none

    .page
      padding-left 0

@require 'mobile.styl'
