// @require './config'
// @require './code'
// @require './custom-blocks'
// @require './arrow'
// @require './wrapper'
@require './reset'

@font-face
  font-display swap
  font-family 'webfont'
  src url('//at.alicdn.com/t/webfont_mokqjlmdgz.eot') /* IE9 */
  src:
    url('//at.alicdn.com/t/webfont_mokqjlmdgz.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/webfont_mokqjlmdgz.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_mokqjlmdgz.woff') format('woff'),
    url('//at.alicdn.com/t/webfont_mokqjlmdgz.ttf') format('truetype'),
    url('//at.alicdn.com/t/webfont_mokqjlmdgz.svg#AlibabaPuHuiTiL') format('svg')

  /* iOS 4.1- */

@require './blog'

#app
  min-height 100vh

html, body
  background-color #fafbff
  margin 0
  padding 0

body
  color $textColor
  font-family -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  // font-size 16px
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
